button,
input {
  display: block;
  margin-bottom: 10px;
}

#alert {
  color: red;
  margin-bottom: 10px;
}
.button {
  margin-top: 0px;

  text-align: center;
}
.mt-5 {
  justify-items: center;
  margin-top: 0px;

}
.fields {
  color: grey;
  font-style: italic;
}

.inner-box {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
