body {
	background: #141414;
	color: #ffffff;
}

.kala-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
    width: 250px;
    height: calc(250px * (16/9));
	position: relative;
	transition: transform 0.2s;
	margin: 20px;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.like-btn:hover {
	opacity: 0.7;
	background-color: #000;
	font-size: 20px;
  }
  
  .red-color {
	color: red;
  }
  
  .black-color{
	color: #000;
  }
  .like-btn {
	background-color: rgba(0, 0, 0, 0.452);
	opacity: 0.7;
	border: none;
	color: white;
	margin-top: 2px;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
  }
  body {
	background: #141414;
	color: #ffffff;
}

.kala-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
    width: 250px;
    height: calc(250px * (16/9));
	position: relative;
	transition: transform 0.2s;
	margin: 20px;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
#btn2{
	margin-left: 0%;
}
#btn3{
	margin-left: 65%;
}
#navbar_button{
	margin-left: auto;
}
#mdWrapper{
	margin-left: 70;
	margin-right: 20;
	height: 70%;
	max-width: 10cm;
	background: white;
	/* position: absolute; */
	top: 0;
	bottom: 0;
	left: 30;
	right: 30;
}
#btn2{
	margin-left: 50%;
}
#btnreg{
	margin-left: 70%;
}
#btn3{
	margin-left: 65%;
}
#btn4{
	text-align: left;
}
#anchortag{
	color: black;
	float: right;
	font-style: italic;

}
#anchor{
	color: blue;
}
#navbarprofile{
	color: #ffffff;
	font-size: 150%;
}
#iconavatar{
	width: 3cm;
	height: 1.65cm;
	background-color: transparent;
	border-color: transparent;
}

#iconavatar:active{
	border-style: none;
	text-decoration: none;
	border: none;

}
#changePasswordButton{
	width: 5%;
}

#ic{
	max-block-size: 100%;
	text-align: center;
}
#nav{
	text-decoration-color: #ffffff;
	color: #ffffff;
	background-color: transparent;
}
#nav2{
	/* padding-right: 10%;
	padding-left: 0%;
	padding-top:2%;
	max-width: 0cm;
	padding-left: 5%; */
}
.like-btn {
	background-color: #000; 
	border: none;
	color: white; 
	padding: 12px 16px; 
	font-size: 16px; 
	cursor: pointer; 
  }
  

  .like-btn:hover {
	background-color: #000;
	font-size: 20px; 
  }

  .red-color {
	color:red;
}
.logo{
	margin-left:0px;
}